
h1{
  font:3em 'Lobster', cursive;
  color: rgb(50,150,200);
    text-align: center;
    width: 75%;
    background: #fff;
    margin: 10px auto;
    
}
body {
    background: #099;
}

h2, h3{
  font: 20px 'Rubik Mono One', sans-serif;
    text-align: center;
  
}

p {
  font-family: 'Montserrat', sans-serif;
    color: #333;
    max-width: 100%;
    font-size: 16px;
    padding: 5px;
}
li {
    list-style-type: none;
  font: 20px 'Rubik Mono One', sans-serif;  
    align-items: center;
    text-align: center;
}


/*------Links-----*/
a {
    cursor: pointer;
}
/* unvisited link */
a:link {
    color: #C36;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #333;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #099;
    text-decoration: none;
    
}

/* selected link */
a:active {
    color: #333;
    text-decoration: none;
}


/*-----Main Nagivation-----*/
.main-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
    width: 100%;
  background-image: linear-gradient(#099, #C36, #099);   
    z-index: 1000;
}

.main-nav img {
  max-width: 150px;
}

.main-nav ul { 
  list-style: none;
  text-align: center;
  padding: 0;
    
}

.main-nav li {
    padding: 10px;
}

/*------Profile------*/

.main {
    background: #fff;
    width:85%;
    margin: auto;
}




.name {
    
    padding: 15px;
    line-height: 15px;
   } 

.name img  {
    display:block;
    margin: auto;
    max-width: 75%;
    margin-top: -40px;
    margin-bottom: 70px;
    border: 10px solid #099;
    z-index: 0;
} 


/* --- my attempt at making the shape I was looking for. Looking online, it seems there are some more advanced things that I could look into to better create what I am looking for. Probably will work more on it in the future ---- */


.tilt img {
  transform: rotate(45deg);
    border-top-left-radius: 300px;
    
}



.name ul {
    padding: 10px
}

.name h3{
    margin:auto;
}


.profile img {
    width: 300px;
    max-width: 100%;
    padding: 10px;
}

.profile ul {
    padding: 0;
}


.profile h2 {
    word-spacing: -7px;
}
/*------Footer-----*/

.social {
  display: flex;
  flex-flow: row;
    justify-content: center;
  align-items: center;
}

.social img {
  max-height: 50px;
    padding: 15px;
}

.social ul { 
  list-style: none;
  text-align: center;
  padding: 0;
    
}

@media (min-width:1000px){
    
    /*-----Main Navigation Web-----*/
    .main-nav{
        display: flex;
        flex-flow:row;
        margin-bottom: 20px;
        position:fixed;
        background-image: linear-gradient(#099, #C36, #099);
        box-shadow: 0 1px 4px rgba (0,0,0,.4);
        top:0;
        width:100%;
    }
    
    .main-nav li{
        display: inline-block;
        margin: 15px;
    }
    
    .main-nav img {
        max-width: 125px;
        padding: 15px;
        
    }

    body {
   padding-top: 150px;   
    
    }
    
    .profile{
    width:70%;
    margin: 0 auto;
    }
    
    .profile ul {
    display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
    
    .profile img{
        padding: 0;
                
    }
    
    
}

/* img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}*/
  
 /*font-family: 'Rubik Mono One', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif; */