img {
  width: 400px;
}

h1{
  font:50px 'Lobster', cursive;
  color: rgb(50,150,200);
}

h2, h3{
  font: 20px 'Rubik Mono One', sans-serif;
  
}

p {
  font-family: 'Montserrat', sans-serif;
  max-width:50%;
}
li {
  font-family: arial, sans-serif;
}


a:link {
    color: pink;
}

a:visited {
    color: green;
}
  
 /*font-family: 'Rubik Mono One', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif; */